asgiref==3.8.1 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
crispy-bootstrap5==2024.2 ; python_version >= "3.11" and python_version < "4.0"
crispy-tailwind==1.0.3 ; python_version >= "3.11" and python_version < "4.0"
diff-match-patch==20230430 ; python_version >= "3.11" and python_version < "4.0"
dj-database-url==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
django-crispy-forms==2.2 ; python_version >= "3.11" and python_version < "4.0"
django-environ==0.11.2 ; python_version >= "3.11" and python_version < "4"
django-filter==24.2 ; python_version >= "3.11" and python_version < "4.0"
django-import-export==4.0.8 ; python_version >= "3.11" and python_version < "4.0"
django-widget-tweaks==1.5.0 ; python_version >= "3.11" and python_version < "4.0"
django==4.2 ; python_version >= "3.11" and python_version < "4.0"
gunicorn==22.0.0 ; python_version >= "3.11" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.5.0 ; python_version >= "3.11" and python_version < "4.0"
tablib==3.5.0 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
uvicorn==0.30.1 ; python_version >= "3.11" and python_version < "4.0"
