        /* Basic table styling */
        .responsive-table {
            border-collapse: collapse;
            box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
            border-radius: 5px;
            font-size: 12px;
            font-weight: normal;
            border: none;
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            white-space: nowrap;
            background-color: white;
          }
          
          .responsive-table th, .responsive-table td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
          }

          .responsive-table thead th {
            color: #ffffff;
            background: #4FC3A1;
        }
        
        
        .responsive-table thead th:nth-child(odd) {
            color: #ffffff;
            background: #324960;
        }
        
        .responsive-table tr:nth-child(even) {
            background: #F8F8F8;
        }
          
          /* Responsive styling */
          @media (max-width: 600px) {
            .responsive-table, .responsive-table thead, .responsive-table tbody, .responsive-table th, .responsive-table td, .responsive-table tr {
              display: block;
            }
            
            .responsive-table thead tr {
              position: absolute;
              top: -9999px;
              left: -9999px;
            }
            
            .responsive-table tr {
              margin: 0 0 1rem 0;
            }
            
            .responsive-table td {
              border: none;
              border-bottom: 1px solid #eee;
              position: relative;
              padding-left: 50%;
              white-space: normal;
              text-align: left;
            }
            
            .responsive-table td:before {
              content: attr(data-label);
              position: absolute;
              left: 0;
              width: 45%;
              padding-left: 15px;
              font-weight: bold;
              white-space: nowrap;
            }
            
          }
          
          /* test responsive 26/6/ */
          @media (min-width: 1200px) {
            .responsive-table th, .responsive-table td {
              font-size: 20px;
            }
            
            .btn-primary, .btn-success{
              font-size:large;
            }
            .row {
              font-size:x-large;
            }
          }
          